body{
    font-size: x-large;
    background-color: rgb(241, 238, 238);
}
.main{
    display: grid;
    grid-template-columns: repeat(7,1fr);
 }
 .main  a{
    text-decoration: none;
 }
 
 .main button{
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    color: rgb(93, 93, 173);
    border-color: rgb(69, 69, 158);
    
    
 } 
 
 .main .button1{
    background-color: rgb(39, 39, 189); 
    color: antiquewhite;
 }
.book{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(39, 39, 189); 
    color: antiquewhite;
    
 
 }
 .now{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    color: rgb(93, 93, 173);
    border-color: rgb(69, 69, 158);
    
    
 }
 .read{
    color: rgb(92, 92, 248);
    display: flex;
 }
 .us{
    text-align: center;
 }
 .story{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
 .more{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    color: rgb(93, 93, 173);
    border-color: rgb(69, 69, 158);
    
 }
 .large img{
    height: 60vh;
    width: 80%;
    border-radius: 30% 0;
 }
 .smart{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
 }
 .mart img{
    height: 60vh;
    width: 80%; 
 }
 .diam{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    color: rgb(93, 93, 173);
    border-color: rgb(69, 69, 158);
    margin-top: 5%;
 }

.all{
    display: flex;
        gap: 40%;
        color: black
 }
 .branch{
    gap: 30px;
     display: flex;
 }
 .vision{
    display: flex;
 }
 .westin img{
    border-radius: 30% 0;
   

 }
 
 
 