body{
    font-size: x-large;
    background-color: rgb(241, 238, 238);
    
    
}

 .main{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.main  a{
    text-decoration: none;
}
 
.main button{
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    color: rgb(93, 93, 173);
    border-color: rgb(69, 69, 158);
    
    
} 
 
.main .button1{
    background-color: rgb(39, 39, 189); 
    color: antiquewhite;
}
.contact{
    text-align: center;
}
.tables{
    display: flex;
    gap: 10%;
    margin-left: 5%;
}
.text{
    width: 50%;
    height: 40%;
}
.submit{
    background-color:rgb(28, 28, 231);
    color: antiquewhite;
    padding: 10px;
    margin: 10px;
    width: 100px;
    margin-left: 5%;

}
.all{
    display: flex;
    gap: 40%;
    color: black;
    margin-left: 5%;
        
 }
 .branch{
    gap: 40px;
     display: flex;
 }
 .message{
    border-radius:50px;
    margin-left: 5%;
    background-color: white;
    width: 50%;
    height: 60%;
    
 }

    

